<!-- <ion-header> -->
<!-- <ion-toolbar> -->
<!-- <ion-title>products</ion-title> -->

<!-- </ion-toolbar> -->
<!-- </ion-header> -->

<ion-content>
  <!-- Searchbar with a custom debounce -->
  <!-- <form [formGroup]="myForm" (ngSubmit)="submit()" novalidate>
    <div class="ion-form-group">
      <ion-auto-complete
        [dataProvider]="productsAutoCompleteServiceService"
        formControlName="country"
      ></ion-auto-complete>
    </div>

    <button ion-button type="submit" block>Add Country</button>
  </form> -->

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-auto-complete
          [dataProvider]="productsAutoCompleteServiceService"
          #searchbar
          style="width: 100%"
         
          (ionAutoInput)="on('ionAutoInput', $event)"
          (itemSelected)="selectItem($event)"
         
        ></ion-auto-complete>
      </ion-col>
      <!-- <ion-col size="3">
        <ion-button color="primary" (click)="search()">Search</ion-button>
      </ion-col> -->
      <ion-col size="6" *ngFor="let p of products">
        <ion-card style="width: 155px; height: 280px" (click)="gotoDetail(p.encoded_id)">
          <img [src]="p.image.small_image" style="width: 100%; height: 150px" />
          <ion-card-header>
            <div class="ion-text-start">
              <p
                style="
                  font-size: 14px;
                  font-weight: bold;
                  margin-top: -13px;
                  color: #373535;
                "
              >
                {{p.name}}
              </p>
            </div>
          </ion-card-header>
          <ion-card-content>
            <div
              class="ion-text-start"
              style="margin-top: -20px; font-size: 10px"
            >
              <p style="font-size: 10px">{{p.state.name}}</p>
              <p style="font-size: 10px">{{p.published_at_formatted}}</p>
              <div
                style="
                  background-color: #2a84f2;
                  width: 54px;
                  height: 19px;
                  border-radius: 5px;
                  padding-left: 4px;
                "
              >
                <p style="color: #ffffff">{{p.price_formatted}}</p>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
