

.typeicon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: -25px;
    .icon{
        // position: absolute;
        
        /* right: 16px; */
        font-size: 25px;
        z-index: 2;
        background-color: #dddddf;
        height: 40px;
        width: 40px;
        border-radius: 25px;
        padding-top: 7px;  
        margin: 20px 20px;
    }

   
}

.selected{
    background-color:#2A84F2 !important;
    color: #fff;
    .textcolor{
        color: #000;
        font-size: 10px;
        width: 100%;
    }
  }
  .notselected{
    background-color: grey;
    color: #000;
    font-size: 10px;
  }


  ion-item {
    --ion-item-background: transparent;
    --border-width: 0;
    --inner-border-width: 0;
    --highlight-color-focused: none;
    .item-interactive.ion-valid{
        --highlight-background: none;
    }
  }
  
  ion-input {
    border-radius: 10px;
    border: 1px solid #006a70;
    font-size: 14px;
    font-weight: 300;
    --padding-start: 30px;
    // width: 300px;
    height: 42px;
    --highlight-color-focused: none;
    --highlight-background: none;
    padding-left: 10px;
  }

  .item-interactive.ion-valid{
    --highlight-background: none;
  }

  ion-select {
    /* Applies to the value and placeholder color */
    color: #545ca7;
  
    /* Set a different placeholder color */
    --placeholder-color: grey;
  
    /* Set full opacity on the placeholder */
    --placeholder-opacity: 1;
  }

  .forminput{
    border: 1px solid #2A84F2;
     border-radius: 10px;
     --padding-start:5px;
  }

  .formlabel{
    color: #2A84F2; 
    margin-bottom: 13px
  }

  .addcoverimage{
    height: 120px;
    border: 1px solid #2A84F2;
    border-radius: 5px;

    .icon{
        // position: absolute;
        
        /* right: 16px; */
        font-size: 25px;
        z-index: 2;
        background-color: #dddddf;
        height: 40px;
        width: 40px;
        border-radius: 25px;
        padding-top: 7px;  
        margin: 20px 20px;
    }

    .coverimages{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .addotherimages{
    height: 120px;
    border: 1px solid #2A84F2;
    border-radius: 5px;
    
    .icon{
        // position: absolute;
        
        /* right: 16px; */
        font-size: 25px;
        z-index: 2;
        background-color: #dddddf;
        height: 40px;
        width: 40px;
        border-radius: 25px;
        padding-top: 7px;  
        margin: 20px 20px;
    }

    .otherimages{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }


  .addvideo{
     height: 120px;
     border: 1px solid #2A84F2;
     border-radius: 5px;
    
    .icon{
        // position: absolute;
        
        /* right: 16px; */
        font-size: 25px;
        z-index: 2;
        background-color: #dddddf;
        height: 40px;
        width: 40px;
        border-radius: 25px;
        padding-top: 7px;  
        margin: 20px 20px;
    }
  }


  .custom-checkbox {
    
    .checkbox-content {
        border-left:5px solid ;
       color:#F68E5F;
       border-radius:4px;
       margin: 5px;
       box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
       background-color: #fff;
    //   background: var(--img-src), rgba(0, 0, 0, .40);
      background-size: cover;
      background-blend-mode: overlay;
      display: flex;
      height: 100px;
      width: 100%;
      justify-content: space-between;
      aspect-ratio: 1 / 1;
  
      .checkbox-title {
        // text-transform: uppercase;
        font-size: 12px;
        color: black;
        text-align: center;
        word-break: break-word;
        // overflow: visible;
        // position: absolute;
        // width: 70%;
        // left: 15%;
        // vertically centered
        // top: 50%;
        // transform: translateY(-50%);
      }
  
      .checkbox-item {
        --border-radius: 0px;
        --border-width: 1px;
        --border-color: transparent;
        // --border-color-checked: transparent;
        --border-color-checked: rgba(var(--ion-color-secondary-rgb), .9);
        --background: transparent;
        // --background-checked: rgba(var(--ion-color-secondary-rgb), .4);rgba(var(--card-color), 14%
        //--background-checked: rgba(var(--ion-color-secondary-rgb), 5%);
        --background-checked: transparent;
        --checkmark-width: 0px;
  
        height: 100%;
        width: 100%;
      }
    }
  
    &.checkbox-checked {
      .checkbox-title {
        display: none;
      }
    }
  }


.tasks-example {
    .task-wrapper {
      &.checkbox-checked {
        opacity: 0.5;
  
        .task-checkbox {
          --checkmark-color: #FFF;
        }
      }
  
      .task-checkbox {
        --size: 20px;
        --checkmark-width: 2px;
        --border-color: var(--ion-color-medium);
        --checkmark-color: var(--ion-color-medium);
  
        &::part(mark) {
          opacity: 1;
        }
      }
  
      .task-title {
        margin-left: 10px;
        font-size: 16px;
        font-weight: 500;
        color: var(--ion-color-dark-tint);
      }
  
      .task-content {
        display: flex;
        margin-top: 16px;
        align-items: center;
        justify-content: space-between;
  
        .task-owner-image {
          width: 35px;
          aspect-ratio: 1 / 1;
  
          img {
            border-radius: 50%;
          }
        }
  
        .task-due-date {
          margin-left: 12px;
          color: var(--ion-color-medium);
        }
  
        .task-icons {
          flex-grow: 2;
          text-align: right;
          color: var(--ion-color-medium);
        }
  
        .icon-number {
          vertical-align: middle;
          margin-left: 12px;
          margin-right: 3px;
          color: var(--ion-color-medium);
        }
  
        ion-icon {
          vertical-align: middle;
        }
      }
    }
  }
  
  
  .meetings-example {
    .meeting-wrapper {
  
      &.checkbox-checked {
        .meeting-card {
          --background: rgba(var(--card-color), 14%);
        }
      }
  
      .meeting-card {
        --background: rgba(var(--card-color), 3%);
        --custom-color: rgb(var(--card-color));
  
        .meeting-card-content {
          border-left: var(--custom-color) solid 5px;
  
          .checkbox-col {
            align-self: center;
            text-align: center;
            --ion-grid-column-padding: 0px;
              height: 100%;
              width: 100%;
  
            ion-checkbox {
              --border-color: var(--custom-color);
              --background-checked: var(--custom-color);
              --border-color-checked: var(--custom-color);
              --checkmark-width: 2px;
              height: 100%;
              width: 100%;
            }
  
            .confirm-text {
              font-size: 11px;
              color: var(--custom-color);
            }
          }
        }
  
        .meeting-title {
          font-weight: bolder;
        }
  
        .followers-list {
          margin-top: 10px;
          display: flex;
          flex-direction: row-reverse;
          justify-content: flex-end;
  
          .follower-image-container {
            margin-right: -14px;
            flex: 0 0 20%;
            max-width: 45px;
            aspect-ratio: 1 / 1;
  
            .follower-image {
              border: solid 2px #fff;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
  

.option{
    &.radio-checked {
        .optionitem {
          --background: rgba(var(--ion-color-secondary-rgb), 14%);
          --border-color-checked: rgba(var(--ion-color-secondary-rgb), .9);
        }
      }

    .optionitem{
       border-left:5px solid ;
       //color:#F68E5F;
       border-radius:4px;
       margin: 5px;
       box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
       background-color: #fff;
       width: 100%;
       height:135px;
       margin-bottom: 12px;
    }

    ion-radio {
        --border-color: var(--ion-color-secondary-rgb);
        --background-checked: var(--ion-color-secondary-rgb);
        --background-checked: rgba(var(--ion-color-secondary-rgb), 5%);
        --checkmark-width: 2px;
        //   position: absolute;
        //   top: 5%;
        //   right: 16px;  
      }

    //   ion-label{
    //     position: absolute;
    //     top: 5%;
    //     left: 16px;
    //     height: 100px;   
    //   }

    //   ion-item{
    //       height: 100px;
    //   }

      .item-radio-checked{
        --background: rgba(var(--ion-color-secondary-rgb), 14%);
        border:2px solid rgba(1, 116, 245,.5);
        border-left:5px solid #545ca7;
      }
}


.inputfile3{
	opacity: 0;
	position: absolute;
	z-index: -1;
}

.avatarUpload {

	display: flex;
	flex-direction: row;
	justify-content: center;

	background-color: rgb(255, 255, 255);
	border: 3px solid rgba(218, 223, 208, 0.4);
	color: rgb(80, 80, 80);
	position: absolute;
	padding: 0.3rem;
	font-size: 1.1rem;
	border-radius: 500px;
	margin-top: -2.2rem;
	margin-left: 5rem;
  height: 40px;
  width: 40px;

  .icon{
    // position: absolute;
    
    /* right: 16px; */
    font-size: 25px;
    z-index: 2;
    background-color: #dddddf;
    height: 40px;
    width: 40px;
    border-radius: 25px;
    padding-top: 7px;  
    margin: 20px 20px;
}
}
 






 