<!-- <ion-header [translucent]="true"> -->
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>



  <!-- <ion-buttons slot="end">
    <ion-icon name="person-outline" slot="icon-only"></ion-icon>
  </ion-buttons> -->

  <ion-buttons slot="end">
    <ion-button color="primary">
      <ion-icon name="search" color="primary" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<!-- </ion-header> -->

<ion-content fullscreen>
  <div class="ion-text-center">
    <img
      src="../../../../assets/images/logo.png"
      style="width: 153px; height: 39px; margin-top: 20px"
    />
  </div>
  <div class="ion-text-center">
    <h4>Welcome to our Lobby</h4>
    <p>Select a Gateway</p>
  </div>


  <ion-grid fixed>
    <ion-row class="ion-no-margin">
     
      <ion-col size="6">
        <div class="infobox"  [routerLink]="['/tabs/market/cars']"> 
         
          <div class="infotext" >
            
        
            <ion-icon name="car-sport-outline"></ion-icon>
          </div>
        

         <div class="buttomofbox">
           <p style="color: #fff;text-align: center;">
            Cars
          </p>
         </div>
        </div>
      </ion-col>

      <ion-col size="6">
        <div class="infobox"  [routerLink]="['/tabs/market/bikes']"> 
        
          <div class="infotext" >
            
            <fa-icon [icon]="faBicycle" style="color: white; font-size: 64px;" ></fa-icon>
            
           
          </div>
         
 
          <div class="buttomofbox">
            <p style="color: #fff;text-align: center;">
              Bikes
           </p>
          </div>
         </div>
      </ion-col>

      <ion-col size="6">
        <div class="infobox"   [routerLink]="['/tabs/market/vehicleparts']"> 
          
          <div class="infotext">
            
           
            <ion-icon name="cog-outline"></ion-icon>
       
           
          </div>
         
 
          <div class="buttomofbox">
            <p style="color: #fff;text-align: center;">
              Vehicles Parts
           </p>
          </div>
         </div>
      </ion-col>

      <ion-col size="6">
        <div class="infobox"  [routerLink]="['/tabs/market/marketplace']"> 
         
 
          <div class="infotext" >
            
            
            <ion-icon name="cart-outline"></ion-icon>
           
           
          </div>
 
          <div class="buttomofbox">
            <p style="color: #fff;text-align: center;">
              Marketplace
           </p>
          </div>
         </div>
      </ion-col>

      <ion-col size="6">
        <div class="infobox"  [routerLink]="['/tabs/market/marketplace']"> 
         
 
          <div class="infotext" >
            
            
            <ion-icon name="airplane-outline"></ion-icon>
           
          </div>
 
          <div class="buttomofbox">
            <p style="color: #fff;text-align: center;">
              Marketplace
           </p>
          </div>
         </div>
      </ion-col>


      <ion-col size="6">
        <div class="infobox"  [routerLink]="['/tabs/market/marketplace']"> 
         
 
          <div class="infotext" >
            
            
            <ion-icon name="planet-outline"></ion-icon>
           
          </div>
 
          <div class="buttomofbox">
            <p style="color: #fff;text-align: center;">
              Marketplace
           </p>
          </div>
         </div>
      </ion-col>
     
    </ion-row>
  </ion-grid>



  <!-- <ion-grid>
    <ion-col>
      <h3 class="ion-margin">Premium Ads</h3>
      <ion-slides [options]="catSlideOpts">
        <ion-slide *ngFor="let v of vehicleArrays">
          <ion-card style="width: 310px; height: 320px">
            <img
              [src]="v.image.small_image"
              style="width: 100%; height: 150px"
            />
            <ion-card-header>
              <div class="ion-text-start">
                <ion-card-title>{{v.name}}</ion-card-title>
              </div>
            </ion-card-header>
            <ion-card-content>
              <div class="ion-text-start">
                {{v.description}}

                <div
                  style="
                    background-color: #2a84f2;
                    width: 54px;
                    height: 19px;
                    border-radius: 5px;
                  "
                >
                  <p style="color: #ffffff">{{v.price_formatted}}</p>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
      <h5 class="ion-margin" style="color: #0174f5">See All</h5>
    </ion-col>

    <ion-col>
      <h3 class="ion-margin">Basic Ads</h3>
      <ion-slides [options]="catSlideOpts">
        <ion-slide *ngFor="let v of vehicleBasicArrays">
          <ion-card style="width: 310px; height: 320px">
            <img
              [src]="v.image.small_image"
              style="width: 100%; height: 150px"
            />
            <ion-card-header>
              <div class="ion-text-start">
                <ion-card-title>{{v.name}}</ion-card-title>
              </div>
            </ion-card-header>
            <ion-card-content>
              <div class="ion-text-start">
                {{v.description}}

                <div
                  style="
                    background-color: #2a84f2;
                    width: 54px;
                    height: 19px;
                    border-radius: 5px;
                  "
                >
                  <p style="color: #ffffff">{{v.price_formatted}}</p>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
      <h5 class="ion-margin" style="color: #0174f5">See All</h5>
    </ion-col>
  </ion-grid> -->
</ion-content>
