<ion-content>
  <!-- <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="primary" (click)="goBack()">
          <ion-icon name="chevron-back" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button color="primary" (click)="skipBtn()" fill="clear">
          Skip
        </ion-button>
      </ion-buttons>
    </ion-toolbar> -->

  <!-- <div>

      <div slot="start">
        <ion-button color="primary" (click)="goBack()">
          <ion-icon name="chevron-back" slot="icon-only"></ion-icon>
        </ion-button>
      </div>

      <div slot="end">
        <ion-button color="primary" (click)="skipBtn()" fill="clear">
          Skip
        </ion-button>
      </div>
    </div> -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="goNext()">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-slides pager="true" #mainSlides>
    <!-- class="bg"
        style="background-image: url(../../../../assets/images/startbc.jpg)"  slide?.img  -->

    <ion-slide *ngFor="let slide of onBoardSlides" [ngStyle]="getStyle(slide)">
      <div class="onb-desc ion-text-center">
        <h4 class="ion-text-capitalize ion-no-margin">{{slide.desc}}</h4>
        <!-- <p class="ion-no-margin">{{slide.desc}}</p> -->
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
