.bg {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
//   background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}



  h4{
    font-size: 1.5rem;
    margin-bottom: 4%;
    color: #ffffff;
}
p{
    font-size: 1rem;
    padding:2% 5%;
    color: #ffffff;
}


.ion-fab{
    bottom: 35px;
    right:28px;
}
.onboard-top{
    margin-top:5%;
    ion-button{
       text-transform:capitalize;
       font-size:0.9rem;

    }

}

ion-slides {

    ion-slide {
      background-size: cover;
      background-position: center;
      padding-left: 40px;
      padding-right: 40px;
      min-width: 365px !important;
    //   min-height:700px!important;
    }

    .swiper-pagination.swiper-pagination-bullets {
        left: auto !important;
        right: auto;
        text-align: left !important;
      }


}