<ion-content>
  <!-- <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="primary" (click)="goBack()">
          <ion-icon name="chevron-back" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button color="primary" (click)="skipBtn()" fill="clear">
          Skip
        </ion-button>
      </ion-buttons>
    </ion-toolbar> -->

  <!-- <div>

      <div slot="start">
        <ion-button color="primary" (click)="goBack()">
          <ion-icon name="chevron-back" slot="icon-only"></ion-icon>
        </ion-button>
      </div>

      <div slot="end">
        <ion-button color="primary" (click)="skipBtn()" fill="clear">
          Skip
        </ion-button>
      </div>
    </div> -->

  <div (click)="goBack()" [ngStyle]="leftIconStyle()" >
    <ion-icon name="chevron-back" color="primary"></ion-icon>
  </div>
  <div [ngStyle]="rightIconStyle()" (click)="skipBtn()">
    <!-- <ion-icon name="arrow-forward" color="primary"></ion-icon> -->
    <ion-button color="primary" fill="clear">
      Skip
    </ion-button>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button color="primary" (click)="goNext()" fill="clear">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-button>
  </ion-fab>

  <ion-slides pager="true" #mainSlides (ionSlidesDidLoad)="afterslidesLoad(mainSlides)" [options]="slideOptsOne">
    <ion-slide *ngFor="let slide of onBoardSlides" [ngStyle]="getStyle(slide)" >
      <div class="onb-desc ion-text-center">
        <h4 class="ion-text-capitalize ion-no-margin">{{slide.desc}}</h4>
        <!-- <p class="ion-no-margin">{{slide.desc}}</p> -->
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
