<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>

  <div class="ion-text-center">Vehicle Listing</div>

  <ion-buttons slot="end">
    <ion-button color="primary">
      <ion-icon name="search" slot="icon-only"></ion-icon>
    </ion-button>

    <ion-button color="primary">
      <ion-icon name="funnel-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div
          style="border: #737e8a; border-style: solid; border-width: 0.5px;border-radius: 5px;padding: 3px;"
          class="ion-text-center"

          [routerLink]="['/tabs/market/cars']"
        >
          Vehicles
        </div>
      </ion-col>
      <ion-col>
        <div [routerLink]="['/tabs/market/bikes']" >Motorbikes</div>
      </ion-col>
      <ion-col>
        <div  [routerLink]="['/tabs/market/vehicleparts']" >Parts</div>
      </ion-col>
      <ion-col>
        <div [routerLink]="['/tabs/market/marketplace']" >Market</div>
      </ion-col>
    </ion-row>
    <ion-col>
      <h3 class="ion-margin">Premium Ads</h3>
      <ion-slides [options]="catSlideOpts">
        <ion-slide *ngFor="let v of vehicleArrays">

          <div class="advertcard" (click)="gotoDetail(v.encoded_id)">
            <img
            [src]="v.image.small_image"
            class="advertthumbnail"
        />
            <div class="ion-text-start">
              <p  class="productnametext">{{v.name}}</p>
            </div>

            <div class="ion-text-start"
                style="margin-top: -20px; font-size: 10px;
                margin-left: 5px;"
            >
              <p><ion-icon name="location-outline"></ion-icon> {{v.state.name}}</p>
              <p><ion-icon name="alarm-outline"></ion-icon>{{v.published_at_formatted}}</p>
            </div>

          <div  class="ion-text-start" style="margin-left: 5px;">
            <p style="color: #2a84f2">{{v.price_formatted}}</p>
          </div>

        </div> 

          
        </ion-slide>
      </ion-slides>
      <div class="ion-text-center" *ngIf="!vehicleArrays">
        <ion-spinner color="primary"></ion-spinner>
      </div>
      <h5 class="ion-margin" style="color: #0174f5"  (click)="seeAll()">See All</h5>
      <!-- <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text> -->
    </ion-col>

    <ion-col>
      <h3 class="ion-margin">Basic Ads</h3>
      <ion-slides [options]="catSlideOpts">
        <ion-slide *ngFor="let v of vehicleBasicArrays">
          <div class="advertcard" (click)="gotoDetail(v.encoded_id)">
            <img
            [src]="v.image.small_image"
            class="advertthumbnail"
        />
            <div class="ion-text-start">
              <p  class="productnametext">{{v.name}}</p>
            </div>

            <div class="ion-text-start"
                style="margin-top: -20px; font-size: 10px;
                margin-left: 5px;"
            >
              <p><ion-icon name="location-outline"></ion-icon> {{v.state.name}}</p>
              <p><ion-icon name="alarm-outline"></ion-icon>{{v.published_at_formatted}}</p>
            </div>

          <div  class="ion-text-start" style="margin-left: 5px;">
            <p style="color: #2a84f2">{{v.price_formatted}}</p>
          </div>

        </div> 
        </ion-slide>
      </ion-slides>
      <div class="ion-text-center" *ngIf="!vehicleArrays">
        <ion-spinner color="primary"></ion-spinner>
      </div>
      <h5 class="ion-margin" style="color: #0174f5"  (click)="seeAll()">See All</h5>
    </ion-col>
  </ion-grid>
</ion-content>
