.background-container{
    height: 40vh;
    width: 100%;
    display: flex;
    background: url('../../../../assets/images/authimage.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    flex-direction: column;
    justify-content: center;
    
  }


  