<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Seller's Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" class="avatar">
        <!-- <ion-avatar >
          <img [src]="profileimage" />
        </ion-avatar> -->

        <ion-avatar *ngIf="profileData?.info.profile_picture?.source">
          <img src="{{profileData?.info.profile_picture?.source}}" />
        </ion-avatar>

        

    <ion-avatar *ngIf="!profileData?.info.profile_picture?.source">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
       
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <p>{{profileData?.info.name}}</p>
        <p>joined {{profileData?.info.created_date_formatted}}</p>

        <!-- <ionic-rating-component
        #rating
        activeColor="#488aff"
        defaultColor="#f4f4f4"
        readonly="false"
        rating="5"
        fontSize="12px"
        (ratingChanged)="onRatingChange($event)"
      >
      </ionic-rating-component> -->
      </ion-col>

      <ion-col size="12" *ngIf="reviews.length==0">
        <h3 class="ion-margin">Seller's Reviews</h3>
         <p class="ion-margin">Seller has no Reviews</p>

      </ion-col>

      <ion-col size="12" *ngIf="reviews.length>0">
        <h3 class="ion-margin">Seller's Reviews</h3>
        <ion-slides [options]="catSlideOpts">
          <ion-slide *ngFor="let v of reviews">
            
            <ion-card style="width: 250px; height:100px" >
             
              <ion-card-content>
                <ion-grid fixed>
                  <ion-row>
                    <ion-col size="12">
                      <p
                      style="font-size:12px;color: #373535;"
                     >
                      {{v.comment}}
                     </p>
                    </ion-col>
                  
                    <ion-col size="6">
                      <p
                      style="
                        font-size:12px;
                        color: #373535;
                      "
                     >
                      {{v.user?.name}}
                    </p>
                   </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>

      <ion-col  size="12">
        <h3 class="ion-margin">Seller's Ads</h3>
        <ion-slides [options]="catSlideOpts2">
          <ion-slide *ngFor="let v of adverts">
            <div class="advertcard" (click)="gotoDetail(v.encoded_id)">
              <img
              [src]="v.image.small_image"
              class="advertthumbnail"
            />
              <div class="ion-text-start">
                <p  class="productnametext">{{v.name}}</p>
              </div>

              <div class="ion-text-start"
                  style="margin-top: -20px; font-size: 10px;
                  margin-left: 5px;"
              >
                <p><ion-icon name="location-outline"></ion-icon> {{v.state.name}}</p>
                <p><ion-icon name="alarm-outline"></ion-icon>{{v.published_at_formatted}}</p>
              </div>

            <div  class="ion-text-start" style="margin-left: 5px;">
              <p style="color: #2a84f2">{{v.price_formatted}}</p>
            </div>

          </div> 
          </ion-slide>
        </ion-slides>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
